{
  "trailingComma": "es5",
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "overrides": [
    {
      "files": ["**/*.css", "**/*.scss", "**/*.html"],
      "options": {
        "singleQuote": false
      }
    }
  ],
  "bracketSpacing": false,
  "printWidth": 120,
  "html.format.wrapAttributes": "force-aligned"
}
