.implementation__title {
  position: relative;
  margin: 0;
  font-weight: 600;
  line-height: 100%;
  color: $color-lavender-blue;
  padding-left: 24px;
  margin-bottom: 24px;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    width: 18px;
    height: 18px;
    background-image: url("../img/sprite.svg#code-icon");
  }
}

.implementation__list-wrapper {
  display: flex;

  @include vp-1023 {
    display: block;
  }
}

.implementation__list {
  list-style: none;
  padding: 0;
  font-size: 16px;
  line-height: 135%;

  &:not(:last-child) {
    margin-right: 24px;

    @include vp-1023 {
      margin-right: 0;
    }
  }
}

.implementation__item {
  width: 267px;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  @include vp-1023 {
    font-family: $ff-vela-sans;
    font-weight: 400;
    max-height: none;
    border: none;
    line-height: 135%;
    padding: 0;
    text-align: start;
    color: $color-gainsboro-2;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}
