.information__title {
  font-family: $ff-craftwork;
  font-weight: 900;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.information__pages {
  margin-bottom: 32px;
}
