.information__title {
  font-family: $ff-craftwork;
  font-weight: 900;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 40px;
  max-width: 500px;

  .project--six-cities &,
  .project--scrum-board &,
  .project--keksobooking & {
    max-width: 550px;
  }

  .project--simple-hotel-check & {
    max-width: 515px;
  }

  @include vp-1279 {
    margin-bottom: 32px;

    .project--big-trip &,
    .project--keksobooking &,
    .project--scrum-board & {
      margin-bottom: 24px;
    }
  }

  @include vp-767 {
    font-size: 20px;
  }
}

.information__pages {
  margin-bottom: 32px;
}
