.nav-list {
  display: flex;
}

.nav-list__link {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 2px;
    width: 100%;
    border-radius: 2px;
    background-color: $color-transparent;
    transition: background-color $trans-default;
  }
}

.nav-list__item {
  @include vp-767 {
    .header & {
      display: none;
    }
  }

  @include hover-focus-active {
    .nav-list__link::before {
      background-color: currentColor;
    }
  }
}

.nav-list__item:not(:last-child) {
  margin-right: 28px;
}
