/* stylelint-disable selector-type-no-unknown */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--opened {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 10;
  }
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @include vp-767 {
    .footer__socilal & {
      width: 100%;
      justify-content: space-between;
    }
  }
}

.nav__toggle {
  display: none;
  position: fixed;
  top: 40px;
  right: 14px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  background: none;
  background-image: url("../img/sprite.svg#icon-menu--closed");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
  border: 2px solid $color-dim-gray;
  border-radius: 50%;

  @include vp-767 {
    display: block;
    z-index: 10;
    top: 32px;
  }

  .nav--opened & {
    background-image: url("../img/sprite.svg#icon-menu--opened");
  }
}

.nav__social-link {
  padding: 16px 28px;
  background-color: $color-default-white;

  @include vp-767 {
    position: fixed;
    padding: 0;
    width: 42px;
    height: 42px;
    top: 88px;
    right: 14px;

    .nav--opened & {
      display: none;
    }
  }

  @include hover-focus-active {
    border-color: $color-default-white;
    color: $color-default-white;
  }
}
