.pages__title {
  font-size: 18px;
  position: relative;
  margin: 0;
  font-weight: 600;
  line-height: 100%;
  color: $color-lavender-blue;
  padding-left: 24px;
  margin-bottom: 24px;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    width: 18px;
    height: 18px;
    background-image: url("../img/sprite.svg#pages-icon");
  }
}

.pages__description {
  margin: 0;
  max-width: 412px;
}

.pages__list {
  list-style: none;
  padding: 0;
  display: flex;
  text-transform: lowercase;

  @include vp-1023 {
    display: block;
  }
}

.pages__item:not(:last-child) {
  position: relative;
  padding-right: 26px;

  &::before {
    position: absolute;
    right: 12px;
    content: ";";
  }

  @include vp-1023 {
    font-family: $ff-vela-sans;
    font-weight: 400;
    max-height: none;
    border: none;
    line-height: 135%;
    padding: 0;
    text-align: start;
    color: $color-gainsboro-2;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &::before {
      display: none;
    }
  }
}
