.page-hero {
  position: relative;
  height: calc(100vh - 90px - 72px);
}

.page-hero__wrapper {
  display: flex;
  justify-content: space-between;
}

.page-hero__title {
  max-width: 750px;
}

.page-hero__description {
  position: relative;
  max-width: 457px;
  margin-top: auto;
  margin-right: 100px;
  bottom: 2px;

  p {
    margin: 0;

    &:last-child {
      margin-top: 16px;
    }
  }

  @include vp-1599 {
    margin-right: 0;
  }
}

.page-hero__link {
  position: fixed;
  background-color: transparent;
  border: none;
  color: $color-dim-gray;
  padding: 0;
  right: 5%;
  bottom: 40px;
  cursor: pointer;
  transition: visibility $trans-default, opacity $trans-default, transform $trans-default, scale $trans-default, color $trans-default;
  visibility: visible;
  opacity: 1;

  rect {
    transition: stroke $trans-default;
  }

  @include hover-focus {
    color: $color-default-white;
    scale: 1.05;
  }

  &--rotate {
    transform: rotate(180deg);
  }

  &--hide {
    visibility: hidden;
    opacity: 0;
  }
}
