.page-hero {
  position: relative;
  height: calc(100vh - 90px - 72px);

  @include vp-1023 {
    height: auto;
    margin-bottom: 200px;
  }
}

.page-hero__wrapper {
  display: flex;
  justify-content: space-between;

  @include vp-1023 {
    display: grid;
    grid-template-areas:
      "title title"
      "button description";
  }
}

.page-hero__title {
  max-width: 750px;

  @include vp-1023 {
    font-size: 58px;
    margin-bottom: 40px;
    grid-area: title;
  }
}

.page-hero__description {
  position: relative;
  max-width: 457px;
  margin-top: auto;
  margin-right: 100px;
  bottom: 2px;

  p {
    margin: 0;

    &:last-child {
      margin-top: 16px;
    }
  }

  @include vp-1599 {
    margin-right: 0;
  }

  @include vp-1023 {
    margin-left: auto;
    max-width: 396px;
    grid-area: description;
  }
}

.page-hero__link {
  position: fixed;
  background-color: transparent;
  border: none;
  color: $color-dim-gray;
  padding: 0;
  right: 5%;
  bottom: 40px;
  cursor: pointer;
  transition: visibility $trans-default, opacity $trans-default, transform $trans-default, scale $trans-default, color $trans-default;
  visibility: visible;
  opacity: 1;

  rect {
    transition: stroke $trans-default;
  }

  &--rotate {
    transform: rotate(180deg);
  }

  &--hide {
    visibility: hidden;
    opacity: 0;
  }

  @include hover-focus-active {
    color: $color-default-white;
    scale: 1.05;
  }

  @include vp-1023 {
    grid-area: button;
    position: static;
    width: 58px;
    height: 58px;
    margin-top: auto;

    &--rotate {
      position: fixed;
    }
  }
}
