.presentation__image-wrapper {
  display: block;
  width: 100%;
  border-radius: 24px;
  color: $color-default-black;
  box-sizing: border-box;
  align-items: center;
  transition: scale $trans-default, box-shadow $trans-default;

  .project--camera-shop & {
    background: $color-quartz;
    padding: 64px 67px;

    @include hover-focus {
      box-shadow: 0 0 80px -40px $color-quartz;
    }
  }

  .project--escape-room & {
    background: $color-forget-me-not;
    padding: 64px 129px;

    img:not(:last-child) {
      margin-bottom: 24px;
    }

    @include hover-focus {
      box-shadow: 0 0 80px -40px $color-forget-me-not;
    }
  }

  .project--six-cities & {
    background: $color-solitude;
    padding: 64px 57px;

    img:not(:last-child) {
      margin-bottom: 24px;
    }

    @include hover-focus {
      box-shadow: 0 0 80px -40px $color-solitude;
    }
  }

  .project--sedona & {
    display: flex;
    background: $color-pippin;
    padding: 64px;
    padding-left: 0;

    img:nth-child(1) {
      max-width: 62%;
    }

    img:nth-child(2) {
      max-width: calc(38% - 40px);
    }

    img:not(:last-child) {
      margin-right: 40px;
    }

    @include hover-focus {
      box-shadow: 0 0 80px -40px $color-pippin;
    }
  }

  .project--big-trip & {
    background: $color-solitude-2;
    padding-left: 64px;
    padding-top: 64px;

    img {
      border-radius: 0 0 24px 0;
    }

    @include hover-focus {
      box-shadow: 0 0 80px -40px $color-solitude-2;
    }
  }

  .project--simple-hotel-check & {
    background: $color-frost;
    padding: 64px;

    @include hover-focus {
      box-shadow: 0 0 80px -40px $color-frost;
    }
  }

  .project--scrum-board & {
    display: flex;
    background: $color-lavender-blush;
    padding: 64px;
    padding-right: 0;

    img:nth-child(1) {
      max-width: calc(45% - 40px);
    }

    img:nth-child(2) {
      max-width: 55%;
    }

    img:not(:last-child) {
      margin-right: 40px;
    }

    @include hover-focus {
      box-shadow: 0 0 80px -40px $color-lavender-blush;
    }
  }

  .project--keksobooking & {
    background: $color-ivory;
    padding: 64px 0 64px 72px;

    @include hover-focus {
      box-shadow: 0 0 80px -40px $color-ivory;
    }
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  @include hover-focus {
    scale: 1.02;
  }
}
