.projects {
  margin-top: 190px;

  @include vp-1279 {
    margin-top: 181px;
  }

  @include vp-767 {
    margin-top: 100px;
  }
}

.projects__title {
  font-family: $ff-craftwork;
  font-weight: 900;
  font-size: 52px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 100px;

  @include vp-1279 {
    margin-bottom: 72px;
  }

  @include vp-767 {
    font-size: 28px;
    line-height: 130%;
    margin-bottom: 40px;
  }
}

.projects__list {
  margin-top: 0;
  margin-bottom: 200px;
}
