.projects {
  margin-top: 250px;
}

.projects__title {
  font-family: $ff-craftwork;
  font-weight: 900;
  font-size: 52px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.projects__list {
  margin-top: 100px;
  margin-bottom: 240px;
}

