.projects-list {
  list-style: none;
  padding: 0;
}

.projects-list__item {
  opacity: 0.4;
  transition: opacity 0.5s $tf-default;

  &:not(:last-child) {
    margin-bottom: 240px;
  }

  &.element-show {
    opacity: 1;
  }
}
