.projects {
  margin-top: 190px;
}

.projects__title {
  font-family: $ff-craftwork;
  font-weight: 900;
  font-size: 52px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 100px;

  @include vp-1023 {
    margin-bottom: 72px;
  }
}

.projects__list {
  margin-top: 0;
  margin-bottom: 200px;
}
