.project {
  display: grid;
  justify-content: space-between;
  column-gap: 40px;

  .project__information {
    grid-area: information;
  }

  .project__presentation {
    grid-area: presentation;
  }

  .project__stack {
    grid-area: stack;
  }

  &--escape-room,
  &--sedona,
  &--simple-hotel-check,
  &--keksobooking {
    grid-template-areas:
      "presentation information"
      "stack clear";
  }

  &--camera-shop,
  &--six-cities,
  &--big-trip,
  &--scrum-board {
    grid-template-areas:
      "information presentation"
      "clear stack";
  }

  @include vp-1599 {
    &--escape-room,
    &--sedona,
    &--simple-hotel-check,
    &--keksobooking {
      grid-template-areas:
        "presentation information"
        "stack information";
    }

    &--camera-shop,
    &--six-cities,
    &--big-trip,
    &--scrum-board {
      grid-template-areas:
        "information presentation"
        "information stack";
    }
  }

  @include vp-1279 {
    display: flex;
    flex-direction: column;
  }
}

.project__information {
  align-self: center;
  max-width: 558px;

  @include vp-1279 {
    align-self: auto;
    order: 2;
  }

  @include vp-1023 {
    order: 1;
  }
}

.project__presentation {
  align-self: center;
  max-width: 993px;

  @include vp-1279 {
    max-width: 100%;
    order: 0;
    margin-bottom: 40px;
    align-self: auto;
  }

  @include vp-1023 {
    align-self: center;
    margin-bottom: 32px;
  }
}

.project__stack {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  max-width: 635px;
  padding: 0;
  margin-top: 40px;

  @include vp-1279 {
    order: 1;
    margin-top: 0;
    margin-bottom: 40px;
  }

  @include vp-1023 {
    display: block;
    order: 2;
  }
}
