.social-link {
  font-family: $ff-craftwork;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: $color-default-black;
  border-radius: 50px;
  box-sizing: border-box;
  border: 2px solid $color-transparent;
  transition: background-color $trans-default, color $trans-default, border $trans-default;

  @include hover-focus-active {
    background-color: $color-transparent;
  }

  @include vp-767 {
    .header & {
      font-size: 0;
      line-height: inherit;
      border-radius: 50%;
      border: 2px solid $color-dim-gray;
      background: none;
      background-image: url("../img/sprite.svg#icon-tg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 18px 18px;
    }
  }
}
