.stack__item {
  font-family: $ff-craftwork;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  padding: 8px 16px;
  border: 2px solid $color-default-white;
  border-radius: 50px;
  box-sizing: border-box;
  user-select: none;
  text-align: center;
  max-height: 34px;

  @include vp-1023 {
    font-family: $ff-vela-sans;
    font-weight: 400;
    max-height: none;
    border: none;
    line-height: 135%;
    padding: 0;
    text-align: start;
    color: $color-gainsboro-2;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}
