*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  --page-min-width: 320px;

  margin: 0;
  padding: 0;
  min-width: var(--page-min-width);
  min-height: var(--screen-height, 100vh);
}

html {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  font-family: $ff-vela-sans;
  color: $color-default-white;
  scroll-behavior: smooth;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-gainsboro;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-track {
    background: $color-transparent;
  }
}

body {
  width: 100%;
  height: 100%;
  background-color: $color-default-black;
  overflow-wrap: break-word;
  -webkit-tap-highlight-color: $color-transparent;
  padding: 2% 5%;
}

a {
  color: $color-default-white;
  text-decoration: none;
}
