$color-default-white: #ffffff;
$color-default-black: #000000;
$color-transparent: rgba(255, 255, 255, 0);
$color-maya-blue: #78beff;
$color-mint-green: #96ffb3;
$color-fuchsia-pink: #fd91ff;

$tf-default: ease;
$trans-default: 0.3s $tf-default;

$vp-320: 320px;
$vp-375: 375px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1920: 1920px;

$ff-vela-sans: "Vela Sans", "Arial", sans-serif;
$ff-craftwork: "Craftwork", "Arial", sans-serif;
