$color-default-white: #ffffff;
$color-default-black: #000000;
$color-transparent-black: rgba(255, 255, 255, 0.3);
$color-transparent: rgba(255, 255, 255, 0);
$color-maya-blue: #78beff;
$color-mint-green: #96ffb3;
$color-fuchsia-pink: #fd91ff;
$color-gainsboro: #666666;
$color-lavender-blue: #cfcfff;
$color-quartz: #d9d9ff;
$color-forget-me-not: #ffedd9;
$color-solitude: #d9e9ff;
$color-pippin: #ffe1d9;
$color-solitude-2: #d9eaff;
$color-frost: #e0e6c3;
$color-lavender-blush: #fffafb;
$color-ivory: #fffff0;
$color-dim-gray: #6a6a6a;
$color-magic-mint: #adffc4;
$color-medium-aquamarine: #69ffa5;
$color-gainsboro-2: #e3e3e3;

$tf-default: ease;
$trans-default: 0.3s $tf-default;

$vp-320: 320px;
$vp-375: 375px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1280: 1280px;
$vp-1360: 1360px;
$vp-1440: 1440px;
$vp-1600: 1600px;
$vp-1920: 1920px;

$ff-vela-sans: "Vela Sans", "Arial", sans-serif;
$ff-craftwork: "Craftwork", "Arial", sans-serif;
